/************************************ CONTENU AVENTURE ************************************/

.grid-aventure {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

main{
    padding: 20px;
    position: relative;
}

main>h1{
    color:var(--jaune);
}

.menuAventure {
    background-color: var(--jaune);
    color:white;
    font-size: 20px;
    padding: 20px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top :25%;
    left:15px;
}

.menuAventure ul {
    list-style: none;
    padding: 0;

}

.menuAventure ul li {
    margin:5px;
    padding: 10px;
}

.menuAventure ul li a {
    padding:8px 20px 6px 20px;
    color:black;
}

.menuAventure ul li a:hover{
    background-color:rgb(83, 83, 83);
    color:var(--jaune);
    padding:8px 20px 6px 20px;
    border-radius: 40px;
}

.view{
    padding:8px 20px 6cqmin 20px;
    background-color:rgb(83, 83, 83);
    color:var(--jaune)!important;
    border-radius: 40px;
}

.anchor-offset{
    scroll-margin-top: 50px;
}

@media screen and (max-width:700px) {

    .menuAventure {
        display: none;
    }
    
    .grid-aventure {
        display: inline;
    }

}


/*************** Responsive ***************/


/************************************ Slider ************************************/

.slider {
    position: relative;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slides img {
    width: calc(50% - 10px); /* Pour afficher 2 images à la fois */
    margin: 0 5px;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: black;
  }
  

/************************************ FOOTER ************************************/

footer{
    background-color: black;
    padding:50px 30px 5px 30px;
}

.mentionsFooter>p{
    color:white;
    text-align: center;
    border-top:0.5px solid white;
    padding-top: 20px;
    font-weight: 300;
}

#logoFooter>a>img{
    width: 150px;
}

#logoFooter>img{
    width: 100%;
}

.sectionsFooter{
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: top;
}

.section1Footer{
    flex:2;
}

.section2Footer{
    flex:1;
}

.section1Footer>p{
    color: white;
    font-weight: 300;
    font-size:15px;
}

.section2Footer>h3{
    color:var(--jaune);
    font-size: 25px;
    font-weight: 400;
    margin:0;
    padding-bottom:15px;
}

.section2Footer>li{
    list-style: none;
    padding-top:5px;
}

.section2Footer>li>a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

/*************** Responsive ***************/

@media screen and (max-width:700px) {

    .sectionsFooter{
        display: inline-block;
        text-align: center;
    }
    
    .section2Footer{
        padding-top:10px;
    }

}
