/*********************************** STYLE PAGE COMPTE ************************************/


.conteneur {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.dashboard-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
}