/************************************ STYLE GENERAL ************************************/

body{
    margin: 0;
    font-family: 'Josefin Sans';
    background-color: #f5f5f5;
}

::selection {
    background-color: var(--jaune);
    color: white;
}

/*** Définitions variables couleurs ***/

:root{
    --jaune: #FFAE00;
}

/*** Style de la barre de scroll ***/

* {
    scrollbar-width:thin;
    scrollbar-color: var(--jaune) #ffffff;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/************************************ HEADER ************************************/

#header{
    display: flex;
    gap:30px;
    justify-content: space-around;
    align-items: center;
    padding-top:35px;
    position: relative;
    
}

header{
    background-size:cover;
    display: flex;
    flex-direction: column;
}

#logoHeader>a>img{
    width: 200px;
}

#logoHeader>img{
    width: 100%;
}

#menuHeaderLargeScreen{
    display: flex;
    gap:20px;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

#menuHeaderLargeScreen>li>a{
    color:var(--jaune);
    text-decoration: none;
    font-family: 'Josefin Sans';
}

#menuHeaderHamburgerPhone{
    display: none;
}

#langues{
    display: flex;
    align-items: center;
    gap:10px;
    position: absolute;
    top:10px;
    right: 10px;
}

#langues>div>svg{
    border-radius: 100%;
}

.menuPhone{
    display: none;
}

/*************** BANNIERE ***************/


.contenuBanniere{
    color:white;
    margin: 100px;
}

.contenuBanniere>h1{
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 0;
}

.contenuBanniere>p{
    font-size: 18px;
    font-weight: 300;
}

.contenuBanniere>button{
    font-size: 15px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color:white;
    border:none;
    border-radius: 30px;
    padding:8px 25px;
    background-color: var(--jaune);
    transition: 0.4s;

}

.contenuBanniere>button:hover{
    background-color: black;
    color:var(--jaune);
}


/*************** Responsive ***************/

@media screen and (max-width:700px) {

    #header{
        position: relative;
    }

    #menuHeaderLargeScreen{
        display: none;
    }

    #langues{
        top:10px;
        right: 10px;
    }

    /*************** Menu téléphone ***************/

    #menuHeaderHamburgerPhone{
        display: inline-block;
    } 

    .menuPhone{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.748);
        position: fixed;
        top:0;
        right:0;
        width: 150px;
        height: 100vh;
        list-style: none;
        line-height: 2;
        padding:50px 0px 0px 30px;
        font-size: 14px;
        transform: translateX(0);
        transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s;
        opacity: 1; 
    }

    .menuPhone>li>a{
        color:var(--jaune);
        text-decoration: none;
        font-family: 'Josefin Sans';
    }

    .apparition{
        transform: translateX(150px);
        opacity: 0;
    }

    /*************** Bannière ***************/

    .contenuBanniere{
        padding: 60px;
        margin: auto;
    }

    .contenuBanniere>h1{
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 0;
    }
    
    .contenuBanniere>p{
        font-size: 15px;
        font-weight: 300;
    }

}

/************************************ Titre Aventure ************************************/

.titreAventure{
    margin-top:20px;
    background-color: var(--jaune);
    background-image: url("../images/backgroundImage.jpg");
    background-size:cover;
    background-position: center;
    padding:100px;
}

.nouvelleAventure>h1{
    color:white;
    text-align: center;
}

/************************************ CONTENU AVENTURE ************************************/

.grid-aventure {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

main{
    padding: 20px;
    position: relative;
}

main>h1{
    color:var(--jaune);
}

.menuAventure {
    background-color: var(--jaune);
    color:white;
    font-size: 20px;
    padding: 20px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top :25%;
    left:15px;
}

.menuAventure ul {
    list-style: none;
    padding: 0;

}

.menuAventure ul li {
    margin:5px;
    padding: 10px;
}

.menuAventure ul li a {
    padding:8px 20px 6px 20px;
    color:black;
}

.menuAventure ul li a:hover{
    background-color:rgb(83, 83, 83);
    color:var(--jaune);
    padding:8px 20px 6px 20px;
    border-radius: 40px;
}

.view{
    padding:8px 20px 6cqmin 20px;
    background-color:rgb(83, 83, 83);
    color:var(--jaune)!important;
    border-radius: 40px;
}

.anchor-offset{
    scroll-margin-top: 50px;
}

@media screen and (max-width:700px) {

    .menuAventure {
        display: none;
    }
    
    .grid-aventure {
        display: inline;
    }

}


/*************** Responsive ***************/


/************************************ FOOTER ************************************/

footer{
    background-color: black;
    padding:50px 30px 5px 30px;
}

.mentionsFooter>p{
    color:white;
    text-align: center;
    border-top:0.5px solid white;
    padding-top: 20px;
    font-weight: 300;
}

#logoFooter>a>img{
    width: 150px;
}

#logoFooter>img{
    width: 100%;
}

.sectionsFooter{
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: top;
}

.section1Footer{
    flex:2;
}

.section2Footer{
    flex:1;
}

.section1Footer>p{
    color: white;
    font-weight: 300;
    font-size:15px;
}

.section2Footer>h3{
    color:var(--jaune);
    font-size: 25px;
    font-weight: 400;
    margin:0;
    padding-bottom:15px;
}

.section2Footer>li{
    list-style: none;
    padding-top:5px;
}

.section2Footer>li>a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

/*************** Responsive ***************/

@media screen and (max-width:700px) {

    .sectionsFooter{
        display: inline-block;
        text-align: center;
    }
    
    .section2Footer{
        padding-top:10px;
    }

}