/************************************ STYLE PAGE CONTACT ************************************/

/************************************ Section titre page ************************************/


.infoContact{
    margin-top:30px;
    display: flex;
    color: white;
    justify-content: center;
    gap:30px;
    font-size: 20px;
}

.infoContact>div{
    display: flex;
    align-items: center;
    gap:15px;
}

#mailto{
    color:white;
    transition: 0.4s;
}

#mailto:hover{
    color:var(--jaune);
}
  
/************************************ Formulaire ************************************/

.divForm{
  margin:auto;
  padding:20px 50px;
  background-color: var(--jaune);
}

.divForm>a{
color:rgb(84, 84, 84);
transition: 0.5s;
}

.divForm>a:hover{
color:white;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 35px;
}

.submit-button {
  justify-self: center;
}

@media screen and (min-width: 736px) {
  
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
  }

  .comment-box {
    grid-column: 1 / -1;
  }
  
  .submit-button {
    justify-self: start;
  }
  
}

.contact-form {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-form>label{
  color:black;
  transition: 0.5s;
}

.divForm>form>div>label{
  color:black;
  transition: 0.5s;
}

.divForm>form>div>label{
  color:black;
  transition: 0.5s;
}

.divForm>form>div>label:hover{
  color:white;
}

.divForm>div>label{
  color:black;
  transition: 0.5s;
}

.divForm>div>label:hover{
  color:white;

}

.form-field {
  position: relative;
}

.label {
  position: absolute;
  left: 0;
  top: -25px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  cursor: text;
}


textarea {
  height: 140px !important;
  padding: 10px 10px;
  
}


.btn {
  background-color: rgb(0, 0, 0);
  color: var(--jaune);
  border: none;
  display: inline-block;
  padding: 12px 30px;
  min-width: 200px;
  margin-top: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

/************************************ FOOTER ************************************/

footer{
    background-color: black;
    padding:50px 30px 5px 30px;
}

.mentionsFooter>p{
    color:white;
    text-align: center;
    border-top:0.5px solid white;
    padding-top: 20px;
    font-weight: 300;
}

#logoFooter>a>img{
    width: 150px;
}

#logoFooter>img{
    width: 100%;
}

.sectionsFooter{
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: top;
}

.section1Footer{
    flex:2;
}

.section2Footer{
    flex:1;
}

.section1Footer>p{
    color: white;
    font-weight: 300;
    font-size:15px;
}

.section2Footer>h3{
    color:var(--jaune);
    font-size: 25px;
    font-weight: 400;
    margin:0;
    padding-bottom:15px;
}

.section2Footer>li{
    list-style: none;
    padding-top:5px;
}

.section2Footer>li>a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

/*************** Responsive ***************/

@media screen and (max-width:700px) {

    .sectionsFooter{
        display: inline-block;
        text-align: center;
    }
    
    .section2Footer{
        padding-top:10px;
    }

}

/************************************ STYLE AJOUTER ESCAPE GAME ************************************/

/* Formulaire cachés par défaut */

#formulaireFr, #formulaireEn {
  display: none; 
}

.divFormCreerEscapeGame {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Les boutons occupent chacun la moitié de la largeur */
  grid-template-rows: auto; /* Les éléments s'ajustent automatiquement en hauteur */
  grid-gap: 20px;
}

.btn {
  width: 100%;
}

#formulaireFr, #formulaireEn {
  display: none;
  grid-column: 1 / -1; /* Les formulaires s'étendent sur toutes les colonnes disponibles */
}

/* Affiche le formulaire si l'un des deux boutons est sélectionné */
#fr:checked ~ #formulaireFr,
#en:checked ~ #formulaireEn {
  display: block;
}

/* Affiche les deux formulaires si les deux boutons sont sélectionnés */
#fr:checked + #en ~ #formulaireFr,
#en:checked + #fr ~ #formulaireEn {
  display: block;
}

/* Styles supplémentaires pour les autres champs */
.prix,
.form-field,
.plus_de_photo {
  grid-column: span 2; /* Chaque élément occupe deux colonnes */
}