/************************************ STYLE GENERAL ************************************/

body{
    margin: 0;
    font-family: 'Josefin Sans';
}

::selection {
    background-color: var(--jaune);
    color: black;
}

/*** Définitions variables couleurs ***/

:root{
    --jaune: #FFAE00;
    --imgtitre: url("../images/alsace.jpg");
}

/*** Style de la barre de scroll ***/

* {
    scrollbar-width:thin;
    scrollbar-color: var(--jaune) #ffffff;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.bouton{
    padding: 5px 10px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: var(--jaune);
    border: none;
    cursor: pointer;
    width: 250px;
    text-transform:uppercase;
    font-weight: 700;
    border-radius: 30px;
    transition: 0.5s;
}

.bouton:hover{
    transition: all 0.4s ease-in-out;
    background-color: var(--jaune);
    color: black;
}

main{
    background-color: white;
}

.conteneur{
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box; 
}

.erreur{
    color:rgb(230, 3, 3);
    background-color: rgba(255, 195, 195, 0.684);
    border:1px solid rgb(190, 9, 9);
    padding:10px 30px 10px 30px;
    border-radius: 30px;
    margin:10px;
}

#spanJaune{
    color:var(--jaune);
}

#spanNoir{
    color:black
}

p {
    line-height: 1.6;
}


/************************************ HEADER ************************************/

#header{

    display: flex;
    gap:30px;
    justify-content: space-around;
    align-items: center;
    padding-top:35px;
    position: relative;
}

#logoHeader>a>img{
    width: 200px;
}

#logoHeader>img{
    width: 100%;
}

#menuHeaderLargeScreen{
    position: relative;
}

#menuHeaderLargeScreen>ul{
    display: flex;
    gap:20px;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

#menuHeaderLargeScreen>ul>li>a, .aventures{
    color:var(--jaune);
    text-decoration: none;
    font-family: 'Josefin Sans';
    transition: 0.5s;
}

#menuHeaderLargeScreen>ul>li>a:hover{
    color:#c58702;
}


#menuHeaderHamburgerPhone{
    display: none;
}

#menuHeaderLargeScreen>ul> li > .drop-down {
    display: none; 
    position: absolute; 
    z-index: 1; 
}

#menuHeaderLargeScreen > ul > li:hover > .drop-down {
    display: block;
}

#menuHeaderLargeScreen > ul > li > .drop-down > ul {
    list-style: none;
    padding: 5px 60px 5px 5px;
    margin: 0;
    background: rgba(23, 23, 23, 0.6);
    backdrop-filter: blur(5px);
    font-size: 13px;
}

#menuHeaderLargeScreen > ul > li > .drop-down > ul > li {
    padding: 10px;
}

#menuHeaderLargeScreen > ul > li > .drop-down > ul > li > a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#menuHeaderLargeScreen > ul > li > .drop-down > ul > li > a:hover {
    color: #FFAE00;
}


/*************** Langues ***************/

#langues{
    display: flex;
    align-items: center;
    gap:10px;
    position: absolute;
    top:10px;
    right: 10px;
}

#langues>div>svg{
    border-radius: 100%;
}

.menuPhone{
    display: none;
}

.menuPhone>ul>li>a:hover{
    transition: 0.5s;
    color: white;
}
/*************option de connexion**************/

.option_connexion{
    display: none;
    font-size: 12px;
    color: var(--Blanc);
    position: absolute;
    top:5;
    right: 0;
    z-index: 9;
    text-align: center;
    background-color:var(--jaune);
    border-radius: 11px;
    src:url("https://use.typekit.net/af/be88bb/00000000000000007735993c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/be88bb/00000000000000007735993c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/be88bb/00000000000000007735993c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;

}

.option_connexion>a{
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.option_connexion>a:hover{
    color:white;
}

.option_connexion .ligne{
    height: 1px;
    width: auto;
    margin: 0px 4px;
    background-color:rgba(217, 217, 217, 0.50);
    border-radius: 1px;
}

.option{
    padding: 7px 5px 5px;
    transition: 0.2s;
}

.visible{
    display: block;
}

/*************** Responsive ***************/

@media screen and (max-width:700px) {

    #header{
        position: relative;
    }

    #menuHeaderLargeScreen{
        display: none;
    }

    #langues{
        top:10px;
        right: 10px;
    }

    /*************** Menu téléphone ***************/

    #menuHeaderHamburgerPhone{
        display: inline-block;
    } 

    .menuPhone{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.748);
        position: fixed;
        top:0;
        right:0;
        width: 150px;
        height: 100vh;
        list-style: none;
        line-height: 2;
        padding:50px 0px 0px 30px;
        font-size: 14px;
        transform: translateX(0);
        transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s;
        opacity: 1;
    }

    .menuPhone.active {
        display: inline-block;
    }

    .menuPhone>ul{
        list-style: none;
        padding: 0;
    }

    .menuPhone>ul>li>a{
        color:var(--jaune);
        text-decoration: none;
        font-family: 'Josefin Sans';
    }

    .menuPhone > ul > li > .drop-down {
        display: none; 
        position: absolute; 
        z-index: 1; 

    }

    .drop-down{
        list-style:none;
    }

    .menuPhone > ul > li:hover > .drop-down {
        display: block;
    }

    .menuPhone > ul > li:active > .drop-down {
        display: block;
        list-style: none;
    }


    .menuPhone > ul > li > .drop-down > ul {
        list-style: none;
        padding: 5px 60px 5px 5px;
        margin: 0;
        background: rgba(23, 23, 23, 0.6);
        backdrop-filter: blur(5px);
        font-size: 13px;

    }

    .menuPhone > ul > li > .drop-down > ul > li {
        padding: 10px;
    }

    .menuPhone > ul > li > .drop-down > ul > li > a {
        color: white;
        text-decoration: none;
    }

    .menuPhone > ul > li > .drop-down > ul > li > a:hover {
        color: #FFAE00;
    }

    .menu-trigger {
        cursor: pointer;
    }

    .apparition{
        transform: translateX(150px);
        opacity: 0;
    }

    .toggle-dropdown {
        overflow: hidden; 
        transition: height 0.3s ease; 
    }
    
    .toggle-dropdown.active {
        height: auto; 
    }

    .toggle-dropdown>a{
        text-decoration: none;
        color:var(--jaune);
        transition: 0.5s;
    }

    .toggle-dropdown>a:hover{
        color:white;
    }


    .toggle-dropdown>ul>li>a{
        text-decoration: none;
        color:var(--jaune);
        transition: 0.5s;
    }

    .toggle-dropdown>ul>li>a:hover{
        color:white;
    }

    .lienDeroulant{
        display: flex;
        align-items: center;
        gap:4px;
    }

    .iconesMenu{
        align-items: center;
        gap:15px;
        margin-top: 15px;
    }

    .drop-down {
        display: none;
    }
    
    .drop-down.active {
        display: inline-block;
    }

    .compteMobile{
      display: flex;
      gap:5px;
    }

    .connexionMobile{
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        margin-left: 20px;
    }

    .connexionMobile>a{
        padding: 0px;
        color: var(--jaune);
        text-decoration: none;
        transition: 0.5s;
        width: fit-content;
    }

    .connexionMobile>a:hover{
      color: white;
      text-decoration: none;
    }
    

}

/************************************ Formulaires, style général ************************************/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {

  border:none;
  height: 40px;
  width: 100%;
  background-color: rgb(247,247,247);
  color: black;
  font-weight: 800;
}

/************************************ Titre page ************************************/

.sectionTitre{
    margin-top:20px;
    background-color: var(--jaune);
    background-image: var(--imgtitre);
    background-size:cover;
    background-position: center;
    padding:80px 100px 70px 100px;
}

.titrePage>h1{
    color:white;
    text-align: center;
}

.titrePage>p{
    color:white;
    text-align: center;
    line-height: 1.5;
    padding-top:10px

}

/************************************ FOOTER ************************************/

footer{
    background-color: black;
    padding:50px 30px 5px 30px;
}

.mentionsFooter>p{
    color:white;
    text-align: center;
    border-top:0.5px solid white;
    padding-top: 20px;
    font-weight: 300;
}

#logoFooter>a>img{
    width: 150px;
}

#logoFooter>img{
    width: 100%;
}

.sectionsFooter{
    display: flex;
    gap:25px;
    justify-content: center;
    align-items: top;
}

.section1Footer{
    flex:2;
}

.section2Footer{
    flex:1;
}

.section1Footer>p{
    color: white;
    font-weight: 300;
    font-size:15px;
}

.section2Footer>h3{
    color:var(--jaune);
    font-size: 25px;
    font-weight: 400;
    margin:0;
    padding-bottom:15px;
}

.section2Footer>li{
    list-style: none;
    padding-top:5px;
}

.section2Footer>li>a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

/*************** Responsive ***************/

@media screen and (max-width:700px) {

    .sectionsFooter{
        display: inline-block;
        text-align: center;
    }
    
    .section2Footer{
        padding-top:10px;
    }

}