#calendar{
    margin: 20px;
    max-height: 90dvh;
}

.fc .fc-button-primary {
    background-color: var(--jaune); /* Couleur de fond des boutons */
    color: #fff; /* Couleur du texte des boutons */
    border: solid 3px var(--jaune); /* Couleur de la bordure des boutons */
    transition: 0.2s;
}

.fc .fc-button-primary:hover {
    background-color:var(--jaune); /* Couleur de fond des boutons au survol */
    border: solid 3px var(--jaune); /* Couleur de la bordure des boutons au survol */
    transform: scale(1.05);
}

.fc .fc-button-primary:disabled {
    background-color: rgb(66, 66, 66);
}

.modal {
    position: fixed;
    background-color: #FFAE00;
    border-radius: 25px;
    padding:30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); 
}

